/*
Theme Name:Drubo
Theme URI: https://wordpress.org/themes/twentyfifteen/
Author: the WordPress team
Author URI: https://google.com/
Description: Our 2015 default theme is clean,
blog-focused, and designed for clarity. Twenty
 Fifteen's simple, straightforward typography is
  readable on a wide variety of screen sizes, and suitable
   for multiple languages. We designed it using a mobile-first
   approach, meaning your content takes center-stage,
    regardless of whether your visitors arrive by smartphone,
    tablet, laptop, or desktop computer.
Version: 1.7
*/


