/*
Theme Name:Office-Master
Theme URI: https://wordpress.org/themes/twentyfifteen/
Author: the WordPress team
Author URI: https://google.com/
Description: Our 2017 default theme is clean,
blog-focused, and designed for clarity. Twenty
Fifteen's simple, straightforward typography is
readable on a wide variety of screen sizes, and suitable
 for multiple languages. We designed it using a mobile-first
Tags:Pallabit, theme,psd to html
Version: 1.7.02
*/

.navbar-default .navbar-nav > .current_page_item > a, .navbar-default .navbar-nav > .current_page_item > a:hover, .navbar-default .navbar-nav > .current_page_item > a:focus {
    background-color: #6baaa8;
    color: #fff;
}
.current_page_item {
    background: #74b9b9 none repeat scroll 0 0 !important;
    color: white;
}
.services-group {
      background: #061f20 none repeat scroll 0 0;
      color: white;
      margin-top: 30px;
  }
.services-row {
    margin-top: -30px;
}


